[mysqld]
datadir=/var/lib/mysql
bind-address=0.0.0.0
general-log
general_log_file=/dev/stdout
log_error=/dev/stderr
collation-server=utf8_general_ci
character-set-server=utf8
symbolic-links=0

[mysqld_safe]
general-log
general_log_file=/dev/stdout
log_error=/dev/stderr
core-file-size=unlimited
log-output=filepid-file=/var/run/mariadb/mariadb.pid

!includedir /etc/my.cnf.d

