[mysqld]
datadir=/var/lib/mysql
bind-address=0.0.0.0
debug=d:t:i:o,/var/log/mariadb/general.log
general_log=1
general_log_file=/var/log/mariadb/general.log
log-output=file
log_error=/var/log/mariadb/error.log
collation-server=utf8_general_ci
character-set-server=utf8
symbolic-links=0

[mysqld_safe]
log-error=/var/log/mariadb/error.log
pid_file=/var/run/mariadb/mariadb.pid

!includedir /etc/my.cnf.d

